# Executables
*.exe
*.out

# Go build files
*.test
*.dll

# Python virtual environment
.venv/
__pycache__/
*.pyc

# Logs
*.log

# Environment variables
.env

# Database / session files
*.db
*.sqlite
*.json

# OS files
.DS_Store
Thumbs.db